$danger: #a11309;
// $primary:       #4813db ;
// $secondary:     #ffffff ;
// $light:         #f1f1f1 ;
$dark: #000000;

h6 {
    color: $danger;
}

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
